body,
html {
    margin: 0;
    padding: 0;
    display: grid;
    background: #F5ECD7;
}

/* STICKY BUTTON */
#backToTopBtn {
    display: grid;
    place-items: center;
    /* Initially hidden */
    position: fixed;
    bottom: 4vw;
    right: 4vw;
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    color: #68a67d;
    border-radius: 50%;
    border: 2px solid #68a67d;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#backToTopBtn:hover {
    opacity: 1;
    background-color: #68a67d;
    border: none;
    color: #ffffff;
}

#backToTopBtn span {
    display: none;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

#backToTopBtn:hover span {
    display: inline;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 12vh;
    left: 0px;
    top: 0px;
    /* border: 1px solid #486284; */
}

.logo {
    position: absolute;
    left: 4vw;
    top: 3vh;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    text-decoration: none;
    color: #f18f01;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    height: 40px;
    right: 4vw;
    top: 2.5vh;
    /* border: 2px solid #F18F01; */
}

.navbar a {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;
    text-decoration: none;
}

.navbar a:hover {
    color: #f18f01;
}

.active {
    color: #f18f01;
}

.inactive {
    color: #5f5f5f;
}

#login {
    display: grid;
    place-items: center;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;
    text-decoration: none;
    width: 96px;
    height: 40px;
    border: 1px solid #68a67d;
    background-color: #ffffff;
    color: #68a67d;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.6s;
}

#login:hover {
    background-color: #68a67d;
    color: #ffffff;
}

.hero {
    display: grid;
    place-items: center;
    /* box-sizing: border-box; */
    margin-top: 12vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 88vh;
    background-color: #f18f01;
    background-image: url("./assets/hero.jpeg");
    background-size: cover;
    align-items: center;
    text-align: center;
}

.hero-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
}

.hero h2 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 8vh;
    color: #833500;   
    text-shadow: 0vh 0.52vh 3.125vh #ffffff;
    animation: slideInUp;
    animation-duration: 1s;
}

.form {
    /* position: absolute; */
    height: auto;
    width: auto;
    opacity: 0;
}

.form.slide-in {
    animation: slideInUp;
    animation-duration: 1s;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: row;
    gap: 1.6vw;
}

.input_field {
    width: 40vw;
    /* width: 80%; */
    /* height: 40px; */
    padding: 0 0 0 12px;
    border-radius: 4px;
    background-color: #Ffffff;
    border: 1px solid #f18f01;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.input_field:focus {
    border: 1px solid #833500;
    outline: none;
    background-color: #ffffff;
}

.form button {
    display: grid;
    place-items: center;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 20vw;
    /* height: 40px; */
    background: #f18f01;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.6s;
}

form button:hover {
    background: #833500;
}

.how-to {
    box-sizing: border-box;
    width: 100%;
    /* height: 84vh; */
    height: auto;
    margin-left: 0;
    margin-right: 0;
    /* background-color: #68a67d; */
    align-items: center;
    text-align: center;
}

.how-to h1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 5.2vh;
    padding-top: 4vh;
    color: #833500;
    width: 100%;
    align-self: center;
}

.how-to p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;
    color: #f18f01;
    width: 80%;
    margin-top: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 0px;
    padding-top: 16vh;
    padding-bottom: 8vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.inner-cont {
    display: flex;
    height: 240px;
    justify-content: center;
    /* background-color: #ecdec0; */
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-radius: 8px;
    opacity: 0;
}

.inner-cont.slide-in {
    animation: slideInUp;
    animation-duration: 1s;
    opacity: 1;
}

.inner-cont h4 {    
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    color: #833500;
    /* width: 100%; */
    padding-top: 96px;
    position: absolute;   
}

.inner-cont h5 {    
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    /* font-size: 2.2vh; */
    font-size: clamp(2.0vh, 2.2vh, 2.4vh);
    color: #5f5f5f;
    padding-top: 144px;
    position: absolute;
}

.icon {
    display: grid;
    height: 106px;
    width: 106px;
    background-color: #bbddc6;
    border-radius: 30px;
    margin-top: 0px;
    place-items: center;
}

.popular {
    /* overflow: auto; */
    /* box-sizing: border-box; */
    width: 100%;
    /* min-height: 121vh; */
    height: auto;
    background-color: #ffffff;
    /* background-color: #68a67d; */
    align-items: center;
    text-align: center;
}

.popular h1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 5.6vh;
    padding-top: 4vh;
    color: #833500;
}

.popular p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;
    color: #f18f01;
    width: 88%;
    margin-top: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tabContainer {
    width: 100%;
    /* height: 600px; */
    height: auto;
    padding-top: 12vh;
}

.tabContainer .buttonContainer {
    height: 64px;
}

.tabContainer .buttonContainer button {
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5f5f5f;
    background-color: #ffffff;
}

.tabContainer .buttonContainer button:hover {
    color: #f18f01;
    background-color: #F5ECD7;
}

.tabContainer .tabPanel {
    height: 78%;
    /* background-color: gray; */
    color: #f18f01;
    text-align: center;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: none;
    margin-bottom: 8vh;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #5f5f5f;
    position: absolute;
    margin-top: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding-top: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
    opacity: 0;
}

.cards.slide-in {
    animation: slideInUp;
    animation-duration: 1s;
    opacity: 1;
}

.cards h4 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #ffffff;
    padding-left: 24px;
    text-shadow: 0vh 0.52vh 3.125vh #000000;
}

.cards button {
    width: 116px;
    height: 44px;
    margin-top: 210px;
    /* margin-bottom: 12vh; */
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5f5f5f;
    background-color: #ffffff;
    float: right;
    margin-right: 24px;
    transition: 0.6s;
}

.cards button:hover {
    color: #ffffff;
    background-color: #f18f01;
}

.show-more-div {
    display: grid;
    place-items: center;
    width: 100%;
    padding-bottom: 8vh;
}

.show-more {
    display: grid;
    place-items: center;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #68a67d;
    background-color: #ffffff;
    width: 200px;
    height: 48px;
    border: 1.4px solid #68a67d;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.6s;
}

.show-more:hover {
    color: #ffffff;
    background-color: #68a67d;
}

.cardp1 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #f18f01;
    border-radius: 8px;
    background-image: url("./assets/jollof\ rice.jpg");
    background-size: cover;
    background-position: center;
}

.cardp2 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #f18f01;
    border-radius: 8px;
    background-image: url("./assets/beans\ &\ plantain.jpeg");
    background-size: cover;
    background-position: center;
}

.cardp3 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #f18f01;
    border-radius: 8px;
    background-image: url("./assets/fried\ rice.jpeg");
    background-size: cover;
    background-position: center;
}

.cardp4 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #f18f01;
    border-radius: 8px;
    background-image: url("./assets/yam\ &\ egg.jpg");
    background-size: cover;
    background-position: center;
}

.cardv1 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #68a67d;
    border-radius: 8px;
    background-image: url("./assets/jollof\ rice.jpg");
    background-size: cover;
    background-position: center;
}

.cardv2 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #68a67d;
    border-radius: 8px;
    background-image: url("./assets/beans\ &\ plantain.jpeg");
    background-size: cover;
    background-position: center;
}

.cardv3 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #68a67d;
    border-radius: 8px;
    background-image: url("./assets/fried\ rice.jpeg");
    background-size: cover;
    background-position: center;
}

.cardv4 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #68a67d;
    border-radius: 8px;
    background-image: url("./assets/yam\ &\ egg.jpg");
    background-size: cover;
    background-position: center;
}

.cardf1 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #5f5f5f;
    border-radius: 8px;
    background-image: url("./assets/jollof\ rice.jpg");
    background-size: cover;
    background-position: center;
}

.cardf2 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #5f5f5f;
    border-radius: 8px;
    background-image: url("./assets/beans\ &\ plantain.jpeg");
    background-size: cover;
    background-position: center;
}

.cardf3 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #5f5f5f;
    border-radius: 8px;
    background-image: url("./assets/fried\ rice.jpeg");
    background-size: cover;
    background-position: center;
}

.cardf4 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #5f5f5f;
    border-radius: 8px;
    background-image: url("./assets/yam\ &\ egg.jpg");
    background-size: cover;
    background-position: center;
}

.cards1 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #ff2e2e;
    border-radius: 8px;
    background-image: url("./assets/jollof\ rice.jpg");
    background-size: cover;
    background-position: center;
}

.cards2 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #ff2e2e;
    border-radius: 8px;
    background-image: url("./assets/beans\ &\ plantain.jpeg");
    background-size: cover;
    background-position: center;
}

.cards3 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #ff2e2e;
    border-radius: 8px;
    background-image: url("./assets/fried\ rice.jpeg");
    background-size: cover;
    background-position: center;
}

.cards4 {
    height: 360px;
    background-color: #F5ECD7;
    border: 4px solid #ff2e2e;
    border-radius: 8px;
    background-image: url("./assets/yam\ &\ egg.jpg");
    background-size: cover;
    background-position: center;
}

.benefits {
    box-sizing: border-box;
    width: 100%;
    /* height: 84vh; */
    height: auto;
    margin-left: 0;
    margin-right: 0;
    /* background-color: #68a67d; */
    align-items: center;
    text-align: center;
}

.benefits h1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 5.2vh;
    padding-top: 4vh;
    color: #833500;
    width: 100%;
    align-self: center;
}

.benefits p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vh;
    color: #f18f01;
    width: 80%;
    margin-top: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 0px;
}

.benefits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 80px;
    height: auto;
    margin-top: 0px;
    padding-top: 12vh;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 8vh;
}

.benefits-container .left {
    display: grid;
    place-items: center;
    height: 400px;
    width: 100%;
    justify-content: center;
    border-radius: 8px;
    background-image: url("./assets/vegetables.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    /* border: 2px solid #000000; */
}

.benefits-container .left.slide-in {
    animation: slideInUp;
    animation-duration: 1s;
    opacity: 1;
}

.benefits-container .right {
    display: grid;
    gap: 12px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    opacity: 0;
}

.benefits-container .right.slide-in {
    animation: slideInUp;
    animation-duration: 1s;
    opacity: 1;
}

.benefits-container .right .one {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: auto;
    width: auto;
}

.benefits-container .right .two {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: auto;
    width: auto;
}

.benefits-container .right .three {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: auto;
    width: auto;
}

.benefits-container .right .icon {
    height: 64px;
    width: 64px;
    background-color: #bbddc6;
    border-radius: 8px;
    margin-top: 0px;
    place-items: center;
    margin-top: 24px;
}

.benefits-container .right .text {
    width: 80%;
}

.benefits-container .right h4 {    
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.8vh, 3vh, 3.2vh);
    color: #833500;
    text-align: left;
}

.benefits-container .right h5 {    
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(2.0vh, 2.2vh, 2.4vh);
    color: #5f5f5f;
    text-align: left;
    width: 100%;
}

/* testimonial section */
.testimonials {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.testimonials h1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 5.2vh;
    padding-top: 4vh;
    color: #833500;
    width: 100%;
    align-self: center;
}

.testimonials p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.2vh, 2.4vh, 3.6vh);
    color: #f18f01;
    width: 80%;
    margin-top: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 0px;
}

.testimonials-container {
    margin-top: 8vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #833500; */
}

.testimonial {
    margin-top: 8vh;
    margin-bottom: 12vh;
    max-width: 900px;
    width: 100%;
    gap: 20px;
    padding: 24px 0;
    overflow: hidden;
    opacity: 0;
}

.testimonial.slide-in {
    animation: slideInUp;
    animation-duration: 1s;
    opacity: 1;
}

.testimonial .image {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {   
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(2.0vh, 2.2vh, 2.4vh);
    color: #5f5f5f;
    text-align: center;
    padding: 0 160px;
}

.slide .quote-icon {
    padding-top: 80px;
    font-size: 30px;
    color: #f18f01;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {       
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.8vh, 3vh, 3.2vh);
    color: #833500;
    padding-bottom: 4px;
}

.details .city {  
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(2.0vh, 2.2vh, 2.4vh);
    color: #5f5f5f;
    font-size: 12px;
    padding-bottom: 24px;
}

/* swiper button css */
.nav-btn {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    --swiper-navigation-size: 24px;
    border-radius: 50%;
    /* transform: translateY(30px); */
    background-color: #0000001a;
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: #68a67d96;
}

.nav-btn::after,
.nav-btn::before {
    --swiper-navigation-size: 24px;
    color: #ffffff;
}

.swiper-pagination-bullet {
    background-color: #000000cc;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-color: #f18f01;
}

@media screen and (max-width: 390px) {
    .testimonial {
        max-width: 390px;
        width: 100%;
    }

    .details .name {
        margin-top: 4vh;
        font-size: 2.2vh;
    }
    
    .details .city {
        font-size: 1.6vh;
    }

    .slide p {
        font-size: 1.8vh;
        width: 64%;
        padding-top: 4vh;
    }

    .nav-btn {
        display: none;
    }
}

/* footer */
footer {
    width: 100%;
    background-color: #8FBF9F;
    color: #a7a7a7;
    font-size: 16px;
}

footer * {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row {
    padding: 1em 1em;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
}

footer h3 {
    width: 100%;
    text-align: left;
    color: #833500;
    font-size: 1.4em;
    white-space: nowrap;
}

.column p {       
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(2.0vh, 2.2vh, 2.4vh);
    color: #ffefd6;
    width: 60%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

footer li:not(:first-child) {
    margin-top: 0.8em;
}

footer ul li a {
    color: #ffefd6;
    text-decoration: none;
}

footer ul li a:hover {
    color: #833500;
    font-weight: 700;
}

footer .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

footer input,
button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    /* margin-bottom: 5px; */
}

footer input {
    margin-bottom: 5px;
}

footer button {
    background-color: #f18f01;
    color: #ffffff;
}

footer button:hover {
    background-color: #833500;
    cursor: pointer;
}

footer div.social {
    display: flex;
    gap: 12px;
    /* justify-content: space-around; */
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

footer .social i {
    color: #ffffff;
}

footer .social i:hover {
    color: #833500;
    cursor: pointer;
}

footer .copyright {
    padding: 0.3em 1em;
    background-color: #353535;
}

.copyright p {
    font-size: 0.9em;
    text-align: center;
}

@media screen and (max-width: 390px) {
    .row.primary {
        grid-template-columns: 1fr;
    }
}